TELEGRAM_BOT_TOKEN=
WHITELIST_IDS=

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL_CA=/app/certs/softline-criteria-db-ca.pem
DB_SSL_CERT=/app/certs/softline-criteria-db-client-cert.pem
DB_SSL_KEY=/app/certs/softline-criteria-db-client-key.pem

EPAC_URL=
EPAC_USERNAME=
EPAC_PASSWORD=
